<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-3" ">
                <div class=" form-group">
                    <label for="usr">Files:</label>
                    <select multiple class="form-control" id="filemenu">
                    </select>
                </div>
            </div>
            <div class="col-sm-3" ">
                <div class=" form-group">
                    <label for="usr">Time:</label>
                    <select multiple class="form-control" id="groupbymenu">
                    </select>
                </div>
            </div>
            <div class="col-sm-3" ">
                <div class=" form-group">
                    <label for="usr">X-axis:</label>
                    <select multiple class="form-control" id="xaxismenu">
                    </select>
                </div>
            </div>
            <div class="col-sm-3" ">
                <div class=" form-group">
                    <label for="usr">Y-axis:</label>
                    <select multiple class="form-control" id="yaxismenu" >
                    </select>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>